.app-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3em;
    padding-inline: 1em;

    background-color: #f8be1ee9;

    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 1px;
    }
}